/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: "Fira Sans", sans-serif;
}
button {
  background: rgb(108, 193, 226);
  background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
  border: none;
  color: white;
}
/* HEADER */
.topbar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 5px 10px #d3d3d3;
}
.topbar button {
  border: none;
  background: white;
  background-color: white;
  font-size: 1.3em;
  color: #e42424;
}
.nav {
  display: none;
}
.cover {
  background-image: url(../images/banner.jpg);
  background-size: 175%;
  background-position: 50% 50%;
  width: 100%;
  color: white;
  height: 47vh;
  box-shadow: inset 0px 0px 0px 900px rgba(0, 0, 0, 25%);
  text-shadow: 2px 2px black;
}
.cover h1 {
  font-size: 1.8em;
  line-height: 1.3;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 50px;
}
.cover p {
  font-size: 1.1rem;
  padding-left: 23px;
  padding-right: 23px;
}
.cover button {
  width: 25%;
  height: 4.5vh;
  margin-left: 20px;
  margin-top: 10px;
  /* background: rgb(108, 193, 226);
  background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
  border: none; */
}
button a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

/* MAIN */
article {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px 0px 20px;
}
article h2 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 25px;
}
article p {
  font-size: 1.1rem;
}
article div {
  margin-bottom: 30px;
}
ion-icon {
  color: #e42424;
}
article ion-icon {
  font-size: 2rem;
  /* color: #e42424; */
}
article h3 {
  font-size: 1.7rem;
}
#TextUs {
  background-color: #0c0633;
  text-align: center;
  width: 100%;
  height: 50vh;
  color: white;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding: 80px 20px 0 20px;
}
#TextUs h3 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 25px;
}
#TextUs button {
  height: 5vh;
  width: 30%;
  margin-top: 20px;
}
section {
  text-align: center;
  margin: 0 auto;
  font-size: larger;
}
section img {
  width: 80%;
  margin-top: 40px;
}
section p {
  font-size: 0.9rem;
}
section div {
  margin-bottom: 4vh;
}

/* FOOTER */
footer {
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  padding: 10%;
}
footer p {
  font-size: 1.1rem;
  margin: 20px auto;
}
footer h4 {
  line-height: 1;
}
footer div {
  margin-bottom: 5vh;
}
.form {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
}
.form input {
  height: 5vh;
}
.form button {
  height: 5vh;
  font-size: 1.1rem;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav a {
    text-decoration: none;
    color: rgb(52, 52, 52);
  }
  #menu {
    display: none;
  }
  #register {
    background: rgb(108, 193, 226);
    background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
    border: none;
    color: white;
    font-size: 1.3rem;
    height: 50px;
    width: 130px;
  }
  .cover {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 45vh;
    box-sizing: border-box;
    padding: 5vh 15vw 0 15vw;
    font-size: larger;
  }
  .cover h1 {
    margin-bottom: 2vh;
    padding-right: 0;
  }
  .cover button {
    height: 5.5vh;
    width: 30%;
    font-size: large;
  }
  .cover button:hover {
    box-shadow: 0px 0px 10px 0 black;
  }
  .options {
    display: flex;
  }
  #TextUs {
    height: 35vh;
  }
  #TextUs button {
    width: 15%;
    font-size: large;
  }
  section {
    display: flex;
    justify-content: center;
  }
  section img {
    width: 45%;
    height: 40vh;
    margin: 30px 30px 30px 30px;
    max-width: 340px;
  }
  #ways {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 50px;
    justify-content: baseline;
    font-size: 2rem;
  }
  #Fsection {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
  }
  #Fsection div {
    margin-bottom: 2vh;
  }
  .extra {
    max-width: 32%;
  }
  .extra ion-icon {
    margin-top: 3vh;
    font-size: larger;
  }
  .form {
    width: 100%;
  }
  footer {
    padding: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    width: 50%;
    font-size: 1rem;
    align-items: center;
  }
  #register {
    font-size: 1rem;
    height: 5vh;
    width: 10vw;
  }
  .topbar {
    padding-right: 20%;
    padding-left: 20%;
  }
  .cover {
    height: 44vh;
  }
  .cover button {
    width: 18%;
    margin-top: 2vh;
  }
  section {
    justify-content: center;
  }
  section img {
    height: auto;
    width: 30%;
  }
  #ways {
    font-size: 1.4rem;
  }
  #ways h2 {
    font-weight: 500;
  }
  #ways ion-icon {
    font-size: 1.6rem;
  }
  footer {
    padding: 8%;
  }
  .copy {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }
}
